<div class="popup-display" data-popup-target="popup">

  <div class="popup-window">

    <button class="close-popup-button" data-action="click->popup#hide">x</button>
    
    <p id="block_start" data-popup-target="blockStart">Begins:  </p>
    <p id="block_end" data-popup-target="blockEnd">Ends: </p>

    <button id="schedule-workorder" data-action="click->popup#create_workorder">Schedule Workorder</button>
  </div>
</div>